.Footer {
	color: #bd7212;
	position: fixed;
	bottom: 0;
	left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
	align-items: center;
	z-index: 3;
	font-family: 'Montserrat', sans-serif;
}

.Footer a {
	color: #bd7212;
	border: none;
}

.Footer .copyright {
    margin: 0px 0px 15px 30px;
}

.Footer .email-icon {
	width: 30px;
    height: 30px;
    margin: 0px 30px 15px 0px;
}
