.StoryView{
    z-index: 0;
    background-color: #f2f3f5;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.story-meta-data {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
}

.StoryView p {
    font-size: 1em;
}

.StoryView h2 {
    font-weight: bold;
}

.StoryView .current-story-title {
    font-size: 2em;
    font-weight: bold;
    color: black;
    padding-top: 2vh;
    padding-left: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vh;
}

.StoryView .click-msg {
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-align: center;
}

.StoryView .story-info {
    font-size: 1.5em;
    padding-top: 2vh;
    padding-left: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vh;
}
