.StoryView{
    z-index: 0;
    background-color: #f2f3f5;
    min-height: 500px;
}

.story-meta-data {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
}

.StoryView p {
    font-size: 1em;
}

.StoryView h3 {
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.StoryView .click-story-msg {
    font-size: 1.5em;
    font-weight: bold;
    width: 40em;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;

  }

.StoryView .current-story-title {
      font-weight: bold;
      font-size: 1.5em;
      font-size: 1.5em;
      margin-bottom: 10px;
}

.StoryView .story-info {
    margin-bottom: 20px;
}
