.StoryView{
    z-index: 100;
    align-self: right;
    background-color: white;
    display: flex;
    flex: 1;
    width: 35%;
}

.story-meta-data {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    min-width: 1100px;
}

.StoryView p {
    font-size: 1em;
}

.StoryView h3 {
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.StoryView .click-story-msg {
    border: solid #929292 3px; 
    font-size: 1em;
    z-index: 5;
    width: 40em;
  }

.StoryView .current-story-title {
      font-weight: bold;
}
