.TimelineText {
    width: 400px;
    
}

.TimelineText .year {
    font-size: 30px;
    color: #96351F;
    margin: 0px;
}

.TimelineText .description {
    font-size: 22px;
    color: #ffffff;
    margin: 5px;
}

.TimelineText.left {
    text-align: left;
}

.TimelineText.right {
    text-align: right;
}