.TimelineText {
    width: 50%;
}

.TimelineText .year {
    font-size: 30px;
    color: #96351F;
    margin: 0px;
}

.TimelineText .description {
    font-size: 22px;
    color: black;
    margin: 5px;
    max-width: 40vw;
    width: 100%;
}

.TimelineText.left {
    text-align: left;
}

.TimelineText.right {
    text-align: right;
}