.TimelineText {
    width: 50%;
}

.TimelineText .year {
    font-size: 30px;
    color: #96351F;
    margin: 0px;
    font-weight: bold;
}

.TimelineText a {
    color: #96351F;
    font-weight: bold;
}

.TimelineText a:hover {
    color: #96351F;
}

.TimelineText a {
    color: #96351F;
    font-weight: bold;
}

.TimelineText a:hover {
    color: #96351F;
}

.TimelineText .description {
    font-size: calc(10px + .5vw);
    color: black;
    margin: 0px;
    max-width: 50vw;
    width: 100%;
}

.TimelineText.left {
    text-align: left;
}

.TimelineText.right {
    text-align: right;
}