.map{
    width: 100% !important;
    height: 50vh !important;
    z-index: 0;
    position: relative !important;
}

.InstructionBold {
    font-weight: bold;
    font-size: 1.8em;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.share-location {
    position: relative;
}