.map{
    max-width: 900px;
    max-height: 500px;
    min-width: 900px;
    min-height: 500px;
    z-index: 0;
}

.InstructionBold {
    font-weight: bold;
    font-size: 1.8em;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.share-location {
    position: relative;
}