.SharePage {
  background-color: #ffffff;
  color: black;
  font-family: 'Montserrat', sans-serif;  
  font-size: 11pt;
  line-height: 1.5em;
  display: flex;
  position: sticky;
  flex-direction: column;
  align-content: flex-start;
  height: 100vh;
  width: 100%;
  padding-top: 6em;
  padding-left: 2em;
}
.participateForm {
  top: 65vw;
  position: absolute;
}

.highlight {
  color: #E88B3A;
}

.recordingTitle {
  font-size: 2em;
  line-height: 1em;
}

.recordingInstruction {
  font-size: 1.5em;
  margin-top: 0.5em;
}

.container{
  position: absolute;
  top: 100vw;
}