.SharePage {
    background-color: #444;
    background-image: linear-gradient(rgba(47, 45, 45, 0.4), rgba(91, 27, 32, 0.4));
    color: #96351F;
    font-family: "Serenity", sans-serif;
    font-size: 11pt;
    text-align: justify;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .SharePage h1 {
    border-bottom: 1px solid #96351F;
    font-size: 1.2em;
    padding: 0 20px 5px 20px;
  }