.SharePage {
  background-color: #ffffff;
  color: black;
  font-family: 'Montserrat', sans-serif;  
  font-size: 11pt;
  line-height: 1.5em;
  display: flex;
  position: sticky;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding-top: 700px;
  padding-left: 2em;
}
.SharePageContent {
  height: 100vh;
  align-self: center;
}
.participateForm {
  top: 750px;
  position: relative;
}

.highlight {
  color: #E88B3A;
}

.recordingTitle {
  font-size: 2em;
  line-height: 1em;
  margin-top: 2em;
}

.recordingInstruction {
  font-size: 1.5em;
  margin-top: 0.5em;
}

.errors{
  color: red;
  position: relative;
  font-weight: bold;
}