.mainSpeakingButton{
    height: 140px;
    width: 140px !important;
    display: inline-block !important;
}

.InstructionBold {
    font-weight: bold;
    font-size: 1.8em;
    position: relative;
}

.Instruction{
    font-size: 1.5em;
    position: sticky;
}




.justify-content-around {
    width: 900px;
}

