.mainSpeakingButton{
    height: 140px;
    width: 140px !important;
    display: inline-block !important;
}

.InstructionBold {
    font-weight: bold;
    font-size: 1.8em;
    padding: 10px;
    position: relative;
}

.Instruction{
    font-size: 1.5em;
    padding: 5px;
    position: sticky;
}



