.Header {
  opacity: 0.95;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: auto;
  width: 100vw;
  z-index: 300;
  background-color: white;
  flex-wrap: wrap;

}

.desktop-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}

.Header .logoText {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 15px;
}

.Header .logo {
  width: 20em;
}

.Header .menu-bars {
  color: #444;
  height: 1.5em;
  margin-right: 30px;
  cursor: pointer;
}

.Header i {
  color: #444;
  margin-right: 30px;
  cursor: pointer;
}

.Header .NavLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.Header .NavLink {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #161616;
  margin-left: 30px;
  font-size: 1em;
}

.Header .NavBar .NavLink.selected {
  border-bottom: 2px solid #161616;
  padding-bottom: 5px;
} 