.Header {
  opacity: 0.95;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 4.5em;
  width: 100%;
}

.Header .logoText {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 20px;
  font-family: "Serenity", sans-serif;
  font-size: 20px;
}

.Header .logo {
  width: 15em;
}

.Header .menu-bars {
  color: #444;
  height: 1.5em;
  margin-right: 30px;
  cursor: pointer;
}

.Header .NavLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.Header .NavLink {
  list-style: none;
  font-family: "Serenity", sans-serif;
  text-decoration: none;
  color: #96351F;
  margin-left: 30px;
}

.Header .NavLink.selected {
  color: #BD7212;
  border-bottom: 3px solid #BD7212;
  padding-bottom: 5px;
}

.Header i {
  color: #444;
  margin-right: 30px;
  cursor: pointer;
}
