.explore-page {
    padding-top: 60px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
  }

.ExplorePlaylistContainer {
    /* position: absolute;
    z-index: 1;
    width: 100%;
    
    top: 40em; */
  }

