.ParticipateForm {
    width: 90vw;
}

.ParticipateForm .InstructionBold {
    font-weight: bold;
    font-size: 1.8em;
    position: relative;
    padding-left: 5px;
}

.ParticipateForm .Instruction{
    font-size: 1.5em;
    position: relative;
    padding-left: 5px;
}

.button-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
}

.btn {
    width: 100%;
    text-align: left;
}

a.dropdown-item {
    width: 700px;
    text-align: left;
    z-index: 1000;
}

.metadata-questions {
    z-index: 10;
    height: 40vh;
}

.meta-data-question {
    margin-bottom: 15px;
}

.meta-data-instructions{
    font-size: 1.25em;
    margin-bottom: 8px;
    padding: 5px;
}