.ParticipateForm {
    width: 90vw;
}

.ParticipateForm .InstructionBold {
    font-weight: bold;
    font-size: 1.8em;
    position: relative;
}

.ParticipateForm .Instruction{
    font-size: 1.5em;
    position: relative;
    margin-bottom: 12px;
}

.button-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 900px;
}

.btn {
    width: 100%;
    text-align: center;
}

.btn-secondary {
    color: black !important;
    background-color: #f2f3f5 !important;
    border-color: #d3d3d3 !important;
}

a.dropdown-item {
    width: 900px;
    text-align: left;
    z-index: 1000;
}

.metadata-questions {
    z-index: 10;
    height: 40vh;
}

.meta-data-question {
    margin-bottom: 15px;
}

.meta-data-instructions{
    font-size: 1.25em;
    margin-bottom: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}