.Button {
    flex-direction: row;
    width: 9em;
    height: 3em;
    margin: 5px 15px 5px 15px;
    background-color: #8c311e;
    color: #f8dcbd;
    border: none;
    border-radius: 8px;
    font-size: 1.7em;
    text-transform: none;
    font-weight: bold;
}