  .AboutPage {
  background-color: white;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  text-align: left;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.AboutPage .intro {
  background-image: url("../../../assets/about-page-background.jpg");
  background-repeat: no-repeat;
  background-color: rgba(238, 238, 238, 0.50);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 94px;
  background-size: 100% 100%;
  background-blend-mode: lighten;
}

.desktop-intro-par1 {
  max-width: 90vw;
  padding-top: 40px;
  width: 1136px;
  height: 113px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.1px;
  color: #ffffff;
}
.desktop-intro-par2 {
  max-width: 90vw;
  width: 1169px;
  height: 113px;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.1px;
  color: #ffffff;
}

.AboutPage .highlight {
  color: #96351F;
}

.AboutPage p {
  font-size: 1.3em;
  line-height: 1.5em;
  width: 30vw;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .AboutPage img {
    width: 50vw;
  }

  .AboutPage p {
    width: 40vw;
  }
}

.Button {
  font-size: calc(10px + 1vw);
  margin-bottom: 28px;
}

@media screen and (max-width: 980px) {
  .AboutPage p {
    width: 47vw;
  }
}

@media screen and (max-width: 736px) {
  .AboutPage img {
    width: 75vw;
  }

  .AboutPage p {
    width: 60vw;
  }
}

@media screen and (max-width: 480px) {
  .AboutPage img {
    width: 80vw;
  }

  .AboutPage p {
    width: 80vw;
  }
}
