.AboutPage {
  background-color: #444;
  background-image: linear-gradient(rgba(47, 45, 45, 0.4), rgba(91, 27, 32, 0.4));
  color: #ffffff;
  font-family: "Serenity", sans-serif;
  font-size: 11pt;
  text-align: justify;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.AboutPage .intro {
  background-image: url("../../../assets/about-page-background.jpg");
  background-repeat: no-repeat;
  background-color: rgba(238, 238, 238, 0.50);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-size: 100% 100%;
  background-blend-mode: lighten;
}

.AboutPage h1 {
  font-size: 3.5em;
  padding: 50px 20px 5px 20px;
  width: 60%;
  font-weight: normal;
  line-height: 1em;
}

.AboutPage h2 {
  font-size: 2em;
  padding: 0 20px 5px 20px;
  width: 60%;
  line-height: 1em;
}

.AboutPage .highlight {
  color: #96351F;
}

.AboutPage p {
  font-size: 1.3em;
  line-height: 1.5em;
  width: 30vw;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .AboutPage img {
    width: 50vw;
  }

  .AboutPage p {
    width: 40vw;
  }
}

@media screen and (max-width: 980px) {
  .AboutPage p {
    width: 47vw;
  }
}

@media screen and (max-width: 736px) {
  .AboutPage img {
    width: 75vw;
  }

  .AboutPage p {
    width: 60vw;
  }
}

@media screen and (max-width: 480px) {
  .AboutPage img {
    width: 80vw;
  }

  .AboutPage p {
    width: 80vw;
  }
}
