.Assets{
  width: 90%;
  margin: 0 auto 118px auto;
  padding-top: calc(4.5em + 10px);
}

.Assets .number-icon {
  width: 15px;
}

.Assets .clock-icon {
  width: 20px;
}

.Assets .audio-player {
  background-color: #f2f3f5;
  border: 3px solid #929292;
  width: 90%;
  position: fixed;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.Assets .current-title {
  color: #595959;
  margin: 0;
  white-space: nowrap;
}

.Assets .react-audio-player {
  width: 90%;
}

.Assets thead {
  background-color: #929292;
  color: #ffffff;
}

.Assets tbody {
  background-color: #f2f3f5;
  color: #595959;
}

.Assets .loading {
  text-align: center;
  color: #595959;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
