.TimelineEntryMorePage {
    background-color: white;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(5px + 1vw);;
    text-align: justify;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.TimelineEntryMorePage .highlight {
    color: #96351F;
}

.TimelineEntryMorePage p {
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0 !important;
}
.EntryYear {
    color: #96351F;
    font-weight: bold;
    font-size: 1.5em !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ExpandedEntry div{
    color: black;
    width: 90vw;
    max-width: 900px;
    text-justify: left
}

.ExpandedEntry img {
    margin-top: 20px;
    width: 90vw !important;
    max-width: 900px;
    justify-self: center;
    height: auto;
}