.timeline-picture-grid {
    max-height: 20vw;
    max-width: 35vw;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.timeline-picture-grid > div {
    overflow: hidden;
}

/* style for 2-image grid */
.grid2 > div:nth-child(1) {
    grid-area: 1/1/4/2;
}

.grid2 > div:nth-child(2) {
    grid-area: 1/2/4/3;
}

/* style for 3-image grid */
.grid3 > div:nth-child(1){
    grid-area: 1/1/4/2;
}

.grid3 > div:nth-child(2){
    grid-area: 1/2/2/3;
}

.grid3 > div:nth-child(3){
    grid-area: 2/2/4/3;
}

/* style for 4-image grid */
.grid4 > div:nth-child(1) {
    grid-area: 1/1/3/2; /* r-start/c-start/r-end/c-end */
}

.grid4 > div:nth-child(2) {
    grid-area: 3/1/4/2;
}

.grid4 > div:nth-child(3) {
    grid-area: 1/2/2/3;
}

.grid4 > div:nth-child(4) {
    grid-area: 2/2/4/3;
}
